server/virtual_env
*__pycache__
.vscode
server/env/
server/.pytest_cache
server/.coverage
server/coverage_report/

client/node_modules
client/.next
client/.pnp
client/.pnp.js
client/build
client/out
client/coverage
client/.DS_Store
*.pem
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
*.tsbuildinfo
client/next-env.d.ts
.DS_Store